<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBylQqnqrx3deIujSsH-05z3HmjfDMeQpM</string>
	<key>GCM_SENDER_ID</key>
	<string>323522395974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.daftarBelanja</string>
	<key>PROJECT_ID</key>
	<string>first-app-nelson</string>
	<key>STORAGE_BUCKET</key>
	<string>first-app-nelson.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323522395974:ios:2fbe76ab9473b52321ef47</string>
	<key>DATABASE_URL</key>
	<string>https://first-app-nelson-default-rtdb.firebaseio.com</string>
</dict>
</plist>